{% macro hero(data) %}
<!-- begin hero - full bleed -->
<section class="c-hero-fullbleed">
  <div class="c-hero-fullbleed__background">
    <img loading="eager" src="{{ get_url(path=data.image) }}" alt="{{ data.image_alt }}">
    <div class="c-hero-fullbleed__overlay"></div>
  </div>

  <div class="c-hero-fullbleed__content">
    <div class="container">
      <h1 class="c-hero-fullbleed__title">{{ data.title }}</h1>
      <div class="c-hero-fullbleed__description">{{ data.description_html | safe }}</div>
      <div class="c-hero-fullbleed__btn">
        <a href="{{ data.cta_button_link }}" class="cta-button c-button c-button--primary">{{ data.cta_button }}</a>
        <a class="c-button c-button--outline" href="{{ data.works_button_link }}">{{ data.works_button }}</a>
      </div>
    </div>
  </div>

  <div class="c-hero-fullbleed__scroll">
    <span>Scroll</span>
    <div class="c-hero-fullbleed__scroll-line"></div>
  </div>
</section>
<!-- end hero -->
{% endmacro hero %}
